
    .products .box {
        border:2px solid rgb(181, 53, 18);
        padding :1rem 1rem;
        background: rgba(157, 202, 180, 0.288);
        box-shadow:var(--box-shaddow);
        text-align:center;
   padding:2rem 0;
    padding-bottom:3rem;
    font: size 5px;
     }

