<body>
  <div class="login-container">
    <div class="login-box">
      <h1>Login</h1>

      <form #loginForm="ngForm" (ngSubmit)="OnSubmit()">
        <div class="form-group">
          <label for="username">Username </label>
          <input
            type="text"
            id="username"
            name="username"
            placeholder="Enter your username"
            [(ngModel)]="user.username"
            #usernameCtrl="ngModel"
            required
          />
          <div
            *ngIf="usernameCtrl.touched && usernameCtrl.invalid"
            class="error-message text-danger"
          >
            <div *ngIf="usernameCtrl.errors?.['required']">
              Username is required.
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="password">Password </label>
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Enter your password"
            [(ngModel)]="user.password"
            #passwordCtrl="ngModel"
            required
          />
          <div
            *ngIf="passwordCtrl.touched && passwordCtrl.invalid"
            class="error-message text-danger"
          >
            <div *ngIf="passwordCtrl.errors?.['required']">
              Password is required.
            </div>
          </div>
        </div>

        <button
          type="submit"
          [disabled]="!loginForm.form.valid"
          class="btn btn-primary"
        >
          Login
        </button>
      </form>
    </div>
  </div>
</body>
<app-alert *ngIf="flag" msg="Invalid username or password"></app-alert>
<app-alert *ngIf="successMessage" [msg]="successMessage"></app-alert>
