<div class="container mt-5">
  <div class="row">
    <div class="col">
      <h1 id="header" style="font-weight: bold">Orders</h1>
      <hr />
      <div id="header"><h3> {{ orderStatusMessage }}</h3></div>
      <div class="table-responsive">
        <table class="table table-bordered table-hover" id="customers">
          <thead class="thead-dark">
            <tr>
              <th>Serial no.</th>
              <th>Order ID</th>
              <th>Total</th>
              <th>Order Status</th>
              <th>View Order</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let order of orders; let i = index">
              <td style="text-align: right">{{i+1}}</td>
              <td style="text-align: right">{{ order.orderId }}</td>
              <td style="text-align: right">${{ order.totalOrderValue }}</td>
              <td
                [ngClass]="{
                  'order-status': true,
                  'approved-status': order.orderStatus === 'APPROVED',
                  'draft-status': order.orderStatus === 'DRAFT',
                  'cancelled-status': order.orderStatus === 'CANCELLED'
                }"
              >
                {{ order.orderStatus }}
              </td>
              <td><button (click)="viewOrder(order.orderId,i)">></button></td>
            </tr>
          </tbody>
        </table>
      </div>
      <button class="btn btn-primary btn3" (click)="productPage()">Back</button>
    </div>
  </div>
</div>
