/* Custom CSS for order status column */
.order-status {
  font-weight: bold;
  text-transform: uppercase;
}

.approved-status {
  color: green;
}

.draft-status {
  color: rgb(255, 213, 0);
}

.cancelled-status {
  color: red;
}

/* Optional: Add more styles as needed */
/* Custom CSS for order status badges and cell alignment */

td span {
  display: inline-block;
  padding: 6px 10px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  font-size: 18px;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}

#customers th {
  position: sticky;
  padding-top: 12px;
  padding-bottom: 12px;
  color: white;
  top: 0px;
  background-color: #133b5c;
  text-align: center;
  font-weight: normal;
  font-size: 20px;
  outline: 0.7px solid black;
  border: 1.5px solid black;
}
.btn3 {
  padding: 8px 10px;
  margin-right: 90px;
  background-color: #133b5c;
  height: 40px;
  font-size: large;
  position: relative;
  text-align: center;
}
