<div>
  <h1>Cart Details</h1>
  <div class="container">
    <table
      class="demo table-striped"
      border="1"
      cellspacing="0"
      cellpadding="20"
      id="customers"
    >
      <tr>
        <th>Id</th>
        <th>Product</th>
        <th>No of Items</th>
        <th>Price</th>
        <th>Delete</th>
      </tr>
      <ng-container *ngFor="let data of cartDetails[0]?.cartLineDetailsDTOList ; let i = index">
        <tr *ngIf="data.quantity > 0">
        <td>{{ data.productId }}</td>
        <td style="width: 30%">{{ data.productName }}</td>
        <td style="text-align: center">
          <button
            style="border-color: white; width: 20px"
            (click)="decrementValue(i, data.productId)"
            value="-"
          >
            -
          </button>
          <input
            [value]="data.quantity"
            maxlength="3"
            max="10"
            size="1"
            id="number"
            (input)="onQuantityInput($event, i)"
            (keydown)="onQuantityKeydown($event)"
          /><button
            style="border-color: white; width: 20px"
            (click)="incrementValue(i)"
            value="+"
          >
            +
          </button>
        </td>
        <td style="text-align: right">${{ data.productPrice * data.quantity | number:'1.2-2'  }}</td>
        <td style="text-align: center;" > <button
          (click)="deleteProduct(i, data.productId)"
          class="btn3 btn btn-lg"
          style="border-color: rgb(255, 255, 255)"
        >
          <img
            src="https://cdn-icons-png.flaticon.com/512/3405/3405244.png"
            alt="Delete Item"
            width="19"
            height="20"
          />
        </button></td>
        </tr>
      </ng-container>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td style="text-align: right">Total: ${{totalProductPrice | number:'1.2-2'  }}</td>
      </tr>
    </table>
  </div>
  <br />
  <!-- <button (click)="deleteOrder()" class="btn1 btn btn-lg btn-primary">Delete</button> -->
  <button (click)="submitOrder()" class="btn2 btn btn-lg btn-primary">
    Submit Order
  </button>
  <br />
</div>
